<div class="sideNav">
    <div class="userIcon">
      R
    </div>
    <div class="menuItems">
      <div class="menuLink" routerLink="/" routerLinkActive="activeLink" [routerLinkActiveOptions]={exact:true}> <i class="fas fa-home" ></i></div>
      <div class="menuLink" routerLink="/edit" routerLinkActive="activeLink"> <i class="fas fa-book"></i></div>
      <div class="menuLink" routerLink="fav" routerLinkActive="activeLink"> <i class="fas fa-heart"></i></div>
</div>
</div>

<div class="mainContainer">
  <bookrollover-header></bookrollover-header>
  <div>
    <router-outlet></router-outlet>
  </div>
  <bookrollover-footer></bookrollover-footer>
</div>
